{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
    <h2>{{ file.title }}</h2>
    <h5><i>Uploaded by {{ file.name }} at {{ file.created_at.strftime('%d %B, %Y') }}
    </i></h5>
    <i>Size: {{ file_size }}</i>
    <i>Format: {{ file.ext }}</i>
    {{ if short }}
      <i>Short link: /{{ file.key }}</i>
    {{ endif }}
    {% if file.ext == "zip" %}
    <a class="button is-dark" style="font-size: 100%" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Show files
    </a><br /><br />
    <div class="collapse" id="collapseExample">
      <div class="well">
        {% for file in files %}
          <i><b>{{ loop.index }}</b>. {{ file }}</i><br />
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <br />
    <br />
    {% if not file.password_hash %}
      <form method="post">
        {{ password_form.csrf_token }}
        {{ password_form.file_id(value=file.id) }}
        <br />
        <button class="button is-dark" id="download">Download  {{ file.title }}.{{ file.ext }}</button>
      </form>
    {% else %}
        <form method="post">
            {% if error %}
                <label>{{ error }}</label>
            {% else %}
                <label>This file requires a password</label>
            {% endif %}
            <br /><br />
            {{ password_form.csrf_token }}
            {{ password_form.file_id(value=file.id) }}
            {{ password_form.password(class='dimchik', placeholder='Enter it here', type='password') }}<br /><br />
            <!--{{ password_form.file_id(value=file.id) }}-->
            <button class="button is-dark" style="font-size: 100%" id="download-password">Download {{ file.title }}.{{ file.ext }}</button>
        </form>
    {% endif %}
</div>
{% endblock %}
